body {
    margin: 0;
    padding: 0;
}

.progress-bar {
    height: 5px;
}

.widget-card {
    width: 360px;
    margin: 20px auto;
}

.widget-card .md-card-header-text {
    text-align: center;
    margin: auto;
}

.widget-card .md-list-item {
    margin-bottom: 15px;
}

.list-item-cell {
    margin-right: 20px;
}
