<form>
  <label>Type in amount and select currency:</label><br />
  <div *ngFor="let amount of amounts; let i = index;">
      <input
        type="number"
        name="amount_{{ i }}_value"
        (ngModelChange)="convertAmount(i, amounts, $event, amount.currency)"
        [(ngModel)]="amount.value" />
      <select
        name="amount_{{ i }}_currency"
        (ngModelChange)="convertAmount(i, amounts, amount.value, $event)"
        [(ngModel)]="amount.currency">
        <option *ngFor="let currency of currencies" value="{{currency}}">
            {{currency}}
        </option>
      </select>
      <br />
  </div>
</form>
