<form>
  <label>Type in amount and select currency:</label><br />
  <input
    type="number"
    name="amountOne"
    (change)="convertSecond(amountOne, currencyOne)"
    [(ngModel)]="amountOne" />
  <select
    (change)="convertSecond(amountOne, currencyOne)"
    [(ngModel)]="currencyOne"
    name="currencOne">
    <option value="CAD">CAD</option>
    <option value="USD">USD</option>
    <option value="EUR">EUR</option>
  </select>
  <br />
  <label>Converted amount:</label><br />
  <input
    type="number"
    name="amountTwo"
    (change)="convertFirst(amountTwo, currencyTwo)"
    [(ngModel)]="amountTwo" />
  <select
    [(ngModel)]="currencyTwo"
    (change)="convertFirst(amountTwo, currencyTwo)"
    name="currencyTwo">
    <option value="USD">USD</option>
    <option value="CAD">CAD</option>
    <option value="EUR">EUR</option>
  </select>
</form>
